
.custom-container{
    width:80%
}

.parent {
    
    display:flex;
    flex-direction: row;
  }

  .text-muted{
      font-weight: bold;
  }
  .sidebar-parent{
    padding-top: 20px;
    width:20%;
      background-color: "yellow";
  }
  